<h1>Ваша корзина</h1>
<div id="catalog">
  <% @products.each do |product| %>
    <% price = product.price ==nil ? 0 : product.price %>
    <div class='item'>
      <div class='img'>
        <% if product.complect.image.exists? %>
          <a class='image' href="<%= product.complect.image.url(:medium) %>">
            <%= image_tag product.complect.image.url(:small) %>
          </a>
        <%  else %>
          <%= image_tag 'no_photo.jpg' %>
        <% end  %>
        <div class='price'><%= price %> <span>руб.</span> </div>
      </div>
      <div class='title'>
        <%= link_to product.title, product_path(product) %>
      </div>
    </div>
  <% end %>
</div>
<div class="clear"></div>