<h1>Регистрация на сайте</h1>
<div id="registration_form" class="form">
  <% form_for @user, :url => { :action => "create" } do |f| %>
    <p><%= f.error_messages %></p>
    <p>
      <label for="login">логин *</label>
      <%= f.text_field :login %>
    </p>
    <p>
      <label for="email">пароль *</label>
      <%= f.text_field :password %>
    </p>
    <p>
      <label for="email">e-mail *</label>
      <%= f.text_field :email %>
    </p>
    <p>
      <label for="name">фамилия, имя</label>
      <%= f.text_field :name %>
    </p>
    <p>* - обязательные поля</p>
    <p><%= f.submit 'зарегистрироваться' %></p>
  <% end %>
</div>