<% form_for @content, :url => { :action => "update" } do |f| %>
  <p>
    <%= f.error_messages %>
  </p>
  <p>
    <label for="title">заголовок</label>
    <%= f.text_field :title %>
  </p>
  <p>
    <label for="uri">uri</label>
    <%= f.text_field :uri %>
  </p>
  <p>
    <label for="keywords">ключевые слова</label>
    <%= f.text_field :keywords %>
  </p>
  <p>
    <label for="description">описание</label>
    <%= f.text_field :description %>
  </p>
  <p>
    <label for="parent">родительская страница</label>
    <%= f.select :parent, @parents,:selected => @content.parent.to_i %>
  </p>
  <p>
    <label for="text">страница</label>
    <%= f.text_area :text, :class => "ckeditor" %>
  </p>
  <p>
    <%= f.submit 'изменить' %>
  </p>
<% end %>
