<% if @complect.image.exists? %>
  <p style="float:right"><%= image_tag @complect.image.url(:medium)%></p>
<% end  %>
<% form_for @complect, :html => { :multipart => true }, :url => { :action => "update" } do |f| %>
  <p><%= f.error_messages %></p>
  <p>
    <label for="title">заголовок</label>
    <%= f.text_field :title %>
  </p>
  <p>
    <label for="image">фотография</label>
    <%= f.file_field :image %>
  </p>
  <p>
    <label for="catalog_id">каталог</label>
    <%= f.select :catalog_id, @complect_catalogs,:selected => @complect.catalog_id.to_i %>
  </p>
  <p>
    <label for="price">цена, руб</label>
    <%= f.text_field :price %>
  </p>
  <p>
    <label for="description">описание</label>
    <%= f.text_area :description, :class => "ckeditor" %>
  </p>
  <p>
    <%= f.check_box :on_main %>
    <span>выводить на главной</span>
  </p>
  <p>
    <label for="composition">состав ткани</label>
    <%= f.text_field :composition %>
  </p>
  <p>
    <label for="first_color">основной цвет</label>
    <%= f.text_field :first_color %>
  </p>
  <p>
    <label for="second_color">цвет отделки</label>
    <%= f.text_field :second_color %>
  </p>
  <p>
    <label for="size">размер, см [высота x ширина]</label>
    <%= f.text_field :size %>
  </p>
  <p><%= f.submit 'изменить' %></p>
<% end %>