<table id="user_list">
  <% counter=0 %>
  <tr>
    <td></td>
    <td>логин</td>
    <td>e-mail</td>
    <td>группа</td>
    <td>имя</td>
    <td class="methods">действия</td>
  </tr>
  <% @users.each do |user| %>
    <% counter+=1 %>
    <tr <%= counter%2==1 ? 'class="first"' : nil%>>
      <td><%= counter %></td>
      <td><%= user.login %></td>
      <td><%= user.email %></td>
      <td><%= user.group=='1' ? 'администраторы' : user.group=='2' ? 'разработчики' : 'пользователи' %></td>
      <td><%= user.name %></td>
      <td class="methods">
        <%= link_to 'показать', admin_user_path(user) %>
        <%  if user.group!='2' || @current_user.group=='2' %>
          <%= link_to 'изменить', edit_admin_user_path(user) %>
          <%= link_to 'удалить', admin_user_path(user),
            :confirm => 'Вы уверены?', :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>